{% extends "base.html" %}
{% block content %}
<form action="" method="post">
<div id='userModal' class='modal', style='display:block'>
  <div id='userModalWrapper' class='modal-wrapper'>
    <div id='userModalContent' class='modal-content'>
      <div id='userModalHeader' class='modal-header'>
        <h2 class='modal-title'>Sign Up</h2>
            <a href="{{ url_for('auth.login') }}">
            <button id='userModalClose' type="button" class="btn-close" href="{{ url_for('auth.login') }}" aria-label="Close"></button>
            </a>
      </div>
      <div class='form-group' id='userForm'>
        <label for="username">Username</label>
        <input type="text" class='p-2 border-radius rounded-pill' name="username" id="username" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class='p-2 border-radius rounded-pill' name="password" id="password" required>
      </div>

        <div class='form-group'>
          <label for='first_name'>First Name</label>
          <input class='p-2 border-radius rounded-pill' type="text" name='first_name' id='userName' required='true'>
        </div>

        <div class='form-group'>
          <label for='last_name'>Last Name</label>
          <input class='p-2 border-radius rounded-pill' type="text" name='last_name' id='userName' required='true'>
        </div>

        <div class='form-group'>
          <label for='age'>Age</label>
          <input class='p-2 border-radius rounded-pill' type="number" name='age' id='userAge' required='true'>
        </div>

        <div class='form-group'>
          <label for='rent'>Desired Rent ($)</label>
          <input class='p-2 border-radius rounded-pill' type="number" name='rent' id='userRent' required='true'>

        </div>
        <div class='form-group'>
          <label for='location'>Location</label>
          <input class='p-2 border-radius rounded-pill' type="text" name='location' id='userLocation' required='true'>
        </div>

        <div class='form-group'>
          <label for='contact'>Contact Email</label>
            <input class='p-2 border-radius rounded-pill' type="email" name='contact' id='userContact' required='true'>
        </div>

        <div class='form-group'>
          <label for='gender'>Gender</label>
          <select class='p-2 border-radius rounded-pill' name='gender' id='userGender'>
            <option value='Male'>Male</option>
            <option value='Female'>Female</option>
            <option value='Other'>Other</option>
          </select>
        </div>

        <div class='form-group'>
          <label for='gender_pref'>Gender Preferences</label>
          <select class='p-2 border-radius rounded-pill' name='gender_pref' id='userGenderPref'>
            <option value='True'>Yes</option>
            <option value='False'>No</option>
          </select>
        </div>

        <div class='form-group'>
          <label for='smoke'>Smoker</label>
          <select class='p-2 border-radius rounded-pill' name='smoke' id='userSmoke'>
            <option value='True'>Yes</option>
            <option value='False'>No</option>
          </select>
        </div>


        <div class='form-group'>
          <label for='pets'>Pets</label>
          <select class='p-2 border-radius rounded-pill' name='pets' id='userPets'>
            <option value='True'>Yes</option>
            <option value='False'>No</option>
          </select>
        </div>

        <div class='form-group'>
          <label for='noise'>Noise Level</label>
          <select class='p-2 border-radius rounded-pill' name='noise' id='userNoise'>
            <option value='1'>1 - Little to no noise</option>
            <option value='2'>2 - Moderate noise, maybe some small gatherings</option>
            <option value='3'>3 - Lots of noise, loves to party</option>
          </select>
        </div>

        <div class='form-group'>
          <label for='guests'>Guests</label>
          <select class='p-2 border-radius rounded-pill' name='guests' id='userGuests'>
            <option value='1'>1 - Rarely/never </option>
            <option value='2'>2 - Occasionally, once a month</option>
            <option value='3'>3 - Often, once a week</option>
            <option value='4'>4 - Very often, most days</option>
          </select>
        </div>

        <div class='form-group'>
          <label for='cleanliness'>Cleanliness</label>
          <select class='p-2 border-radius rounded-pill' name='cleanliness' id='userCleanliness'>
            <option value='1'>1 - Rarely - clean once a month </option>
            <option value='2'>2 - Occasionally, clean once a week </option>
            <option value='3'>3 - Often, clean daily</option>
          </select>
        </div>

        <div class="auth-field">
          <button class='p-10 submit'>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}

