{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-column justify-content-center">
{% for match in user_matches %}
<form action="" method="post">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{match.username}} | {{match.name}}</h5>
      <p class="card-text">
        Age: {{match.age}}
        Gender: {{match.gender}}
        Rent: {{match.rent}}
        ID: {{match.id}}
        # of Roommates: {{match.roommates}}
        {% if match.pets %}
            Pets: Allowed
        {% else %}
            Pets: Not allowed
        {% endif %}
        Cleanliness: {{match.cleanliness}}
        {% if match.guests %}
            Guests: Allowed
        {% else %}
            Guests: Not allowed
        {% endif %}
        {% if match.smoking %}
            Smoking: Allowed
        {% else %}
            Smoking: Not allowed
        {% endif %}
        {{match.noise}}
      </p>
        <div class="auth-field">
            <button class="submit" type="submit" name="other_id", value="{{ match.id }}">
            Match Request
            </button>


        </div>
    </div>
  </div>
</form>
{% endfor %}
</div>
{% endblock %}