{% extends "base.html" %}
{% block content %}
{% for match in user_matches %}
<form action="" method="post">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{match.username}} | {{match.name}}</h5>
      <p class="card-text">
        Age: {{match.age}} <br>
        Gender: {{match.gender}} <br>
        Rent: {{match.rent}} <br>
        # of Roommates: {{match.roommates}} <br>
        {% if match.pets %}
            Pets: Allowed <br>
        {% else %}
            Pets: Not allowed <br>
        {% endif %}
        Cleanliness: {{match.cleanliness}} <br>
        {% if match.guests %}
            Guests: Allowed <br>
        {% else %}
            Guests: Not allowed <br>
        {% endif %}
        {% if match.smoking %}
            Smoking: Allowed <br>
        {% else %}
            Smoking: Not allowed <br>
        {% endif %}
        Noise level: {{match.noise}}
      </p>
        <div class="auth-field">
            <button class="submit" type="submit" name="other_id", value="{{ match.id }}">
            Match Request
            </button>


        </div>
    </div>
  </div>
</form>
{% endfor %}
{% endblock %}